        <div style="grid-column:1;" class="centrarVertical">
            <div data-action="rollCarac" class="carac-roll item clickable-char" data-item-id="{{_id}}" data-label="{{name}}" style="font-size: 11px; padding: 2px 4px;">{{name}}</div>
        </div>
        <div style="grid-column:2;">
          <div class="item" data-item-id="{{_id}}" data-field="system.valor" >
            <input class="change inputCaracteristica" type="number"  value="{{system.valor}}"/>
          </div>
        </div>
        <div style="grid-column:3;">
          <div  class="item" data-item-id="{{_id}}" data-field="system.mod" >
            <input class="change inputCaracteristica" type="number" readonly   value="{{system.mod}}"/>
          </div>
        </div>
        <div   style="grid-column:4; margin-left: 5px;">
          <div class="item" data-item-id="{{_id}}" data-field="system.valor_tmp" >
            <input class="change inputCaracteristica"  type="number"  value="{{system.valor_tmp}}"/>
          </div>
        </div>
        <div style="grid-column:5;">
          <div  class="item" data-item-id="{{_id}}" data-field="system.mod_tmp" >
            <input class="change inputCaracteristica" type="number" readonly   value="{{system.mod_tmp}}"/>
          </div>
        </div>