<nav class="navigable-tabs" role="tablist" data-group="primary">
  {{#each tabs as |tab id|}}
    <button role="tab" 
            aria-selected="{{#if tab.active}}true{{else}}false{{/if}}" 
            aria-controls="{{tab.id}}-panel"
            class="tab-button {{tab.cssClass}}"
            data-tab="{{tab.id}}"
            data-group="primary">
      {{#if tab.icon}}<i class="{{tab.icon}}"></i>{{/if}}
      {{tab.label}}
    </button>
  {{/each}}
</nav>
